# Build results
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio settings
.vscode/
.vs/

# Others (optional, useful)
*.log
*.cache
*.pdb
_ReSharper*/
*.resharper
*.DotSettings.user

# NuGet packages (if using packages folder, which is rare now)
packages/

# Optional: Rider IDE
.idea/
